

<div class="container-fluid mt-3">
  <div class="row bg-success justify-content-center align-items-center" style="height: 80px;">
     <div class="col-6 h2">TO_DO LIST</div>
 </div>

<div>
 <div class="bg-success d-flex justify-content-center align-items-center h3"> 
     <input [(ngModel)]="newTask" type="text" value="" >
     <button (click)="addToList()" class="btn-sm btn-primary"> ADD TASK </button> 
 </div>  
</div> 

<div *ngFor="let x of items; let index = index;"> 

<div class=" bg-success d-flex justify-content-center align-items-center h3"> 

<div class="h3 col-9">{{x}}</div> 

<input (click)="deleteTask(index)" type="button" value="Delete" class=" btn btn-danger"> 

</div> 

</div> 

</div>


